*.iml
.gradle
/local.properties
/build
.idea/caches/
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/libraries/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/modules.xml
.idea/workspace.xml
